.env
node_modules/
.DS_Store
.history

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode/
.history/

.gemini/
feedback.md
develop-plan.md
develope-plan.md
interview.md

test-assets






